@font-face {
    font-family: 'Inter 18pt Regular';
    src: url(./../fonts/Inter/Inter_18pt-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Inter 18pt Medium';
    src: url(./../fonts/Inter/Inter_18pt-Medium.woff2) format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Inter 18pt Bold';
    src: url(./../fonts/Inter/Inter_18pt-Bold.woff2) format("woff2");
    font-style: normal;
    font-weight: 700;
}

@layer reset, base, utilities;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5px;
}

:root {

    /* Основной цвет границы для элементов: 
        светлая тема -  rgb(185, 185, 185)
        темная тема - rgb(215, 215, 215)
    */
    --border-color-primary: rgb(185, 185, 185);

    /* Основной цвет фона (или в целом оформления) для элементов (а также для состояния :focus-visible):
        светлая тема - gold
        темная тема - rgb(251, 255, 19)
    */
    --color-accent-primary: rgb(255, 215, 0);

    /* Цвет основного текста:
        светлая тема - black
        темная тема - white 
    */
    --text-color-primary: rgb(0, 0, 0);
    --color-dark: rgb(0, 0, 0);
    --color-light: rgb(255, 255, 255);
    --bg-color-primary: rgb(255, 255, 255);

    /* Цвет блеклого фона для последней колонки таблицы "Тарифов":
        светлая тема -  rgba(255, 230, 87, 0.295)
        темная тема - rgba(255, 230, 87, 0.095)
    */
    --premium-col-bg: rgba(255, 230, 87, 0.295);

    /* Цвет фона выделенной части текста: 
        светлая тема -  rgb(255, 246, 194)
        темная тема - rgb(251, 255, 19)
    */
    --highlight-bg: rgb(255, 246, 194);

}

body.dark-theme {
    --bg-color-primary: rgb(31, 31, 31);
    --text-color-primary: rgb(220, 220, 220);

    --border-color-primary: rgb(215, 215, 215);
    --color-accent-primary: rgb(251, 255, 19);
    --premium-col-bg: rgba(255, 230, 87, 0.095);
    --highlight-bg: rgb(251, 255, 19);

    .col, .nav-extra {
        --text-color-primary: rgb(165, 165, 165);
    }
}

/* RESET-СТИЛИ */

@layer reset {
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inter 18pt Regular', monospace, sans-serif;
    }
}

/* ВСПОМОГАТЕЛЬНЫЕ СТИЛИ КЛАССОВ (UTILITIES) */

@layer utilities {
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        clip: rect(0 0 0 0);
    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    .app {
        max-width: 100vw;
        position: relative;
        grid-area: app;
    }

    .title {
        font-family: "Inter 18pt Medium";
        font-size: 1.75rem;
        font-weight: 700;
        color: var(--text-color-primary);
    }

    .gold {
        color: var(--color-accent-primary);
    }

    .subtitle {
        font-family: "Inter 18pt Medium";
        font-size: 1.375rem;
        font-weight: 700;
    }

    .cta-dim {
        color: var(--text-color-primary);
        background-color: transparent;
        border: 2px solid var(--border-color-primary);
    }

    .cta-s {
        padding: 10px 15px;
    }

    .mb-m {
        margin-block: 10px;
    }

    .mi-m {
        margin-inline: 10px;
    }

    .font-l {
        font-size: 1.6rem;
    }
}

/* БАЗОВЫЕ СТИЛИ (BASE) */

@layer base {
    body {
        display: grid;
        grid-template-columns: 0.075fr 1fr 0.075fr;
        grid-template-areas: 
            ". app .";
        font-size: 1rem;
        color: var(--text-color-primary);
        font-family: "Inter 18pt Regular", sans-serif;
        background-color: var(--bg-color-primary);
    }

    a {
        outline: none;
        position: relative;
        text-decoration: none;
        color: inherit;
    }

    .fav-icon {
        min-width: 38px;
        min-height: 38px;
        fill: currentColor;
        stroke: currentColor;
        stroke-width: 1px;
    }

    a:focus-visible > .fav-icon {
        fill: var(--color-accent-primary);
        stroke: var(--color-accent-primary);
    }

    button {
        border: none;
        font-size: 1.1em;
        cursor: pointer;
    }

    .cta {
        background-color: var(--color-accent-primary);
        font-size: 1.1em;
        padding: 15px 20px;
        border-radius: 10px;
    }

    section {
        margin-block: 45px;
    }

    article {
        margin-block: 30px;
    }

    details {
        width: 100%;
        max-width: 550px;
        border: 1px solid var(--border-color-primary);
        border-radius: 20px;
        margin-block: 5px;
        font-size: 1.1em;

        ul {
            margin-bottom: 10px;
            margin-left: 20px;
            list-style-position: inside;
        }
    }

    details::details-content {
        display: grid;
        height: 0;
        opacity: 0;
        overflow: hidden;
        line-height: 1.6;
        padding-inline: 15px;
        transition: height 0.4s ease, opacity 0.4s ease;
    }

    details[open]::details-content {
        height: auto;
        opacity: 1;
        interpolate-size: allow-keywords;
    }

    details[open] > summary {
        border-bottom: 1px solid var(--border-color-primary);
    }

    details[open] > summary::after {
        content: "-";
    }

    details > summary {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 8px 10px;
        margin-bottom: 8px;
        font-weight: 500;
    }

    summary::after {
        content: "+";
        font-size: 1.5em;
        margin-right: 10px;
        flex-shrink: 0;
    }
}

/* СТИЛИЗАЦИЯ КОМПОНЕНТОВ СТРАНИЦЫ (COMPONENTS) */

/* ШАПКА (HEADER) СТРАНИЦЫ */
header {
    display: grid;
    grid-template-columns: minmax(135px, auto) 1fr;
    grid-template-areas: 
        "title nav";
    gap: 1rem;
    align-items: center;
    padding: 0.7em 1.25em;
    margin-bottom: 25px;
}

.header-main {
    grid-area: title;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Inter 18pt Medium";
    font-weight: 700;
    font-size: 1.11rem;

    svg {
        flex-shrink: 0;
        flex-grow: 0;
        max-width: 55px;
    }
}

/* НАВИГАЦИЯ */
#nav-bar {
    grid-area: nav;
    display: flex;
    gap: 1.25em;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    position: sticky;
    text-align: center;
}

#nav-bar a:hover::before,
#nav-bar a:focus-visible::before {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(5px);
    content: "";
    width: 100%;
    height: 4px;
    background-color: gold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* КНОПКА СМЕНЫ ТЕМЫ СТРАНИЦЫ */
#theme-toggle {
    position: fixed;
    bottom: 1.5cqh;
    right: 1.5cqw;
    width: 55px;
    height: 55px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    background-image: url(./../images/dark-theme.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    color: var(--text-color-primary);
    background-color: currentColor;
    z-index: 100;
}

body.dark-theme #theme-toggle {
    background-image: url(../images/light-theme.svg);
}

.burger {
    width: 48px;
    aspect-ratio: 1;
    grid-area: burger;
    color: currentColor;
}

/* БЛОК ПРЕЗЕНТАЦИИ HERO (PREVIEW СТРАНИЦЫ) */
.hero {
    display: grid;
    grid-template-columns: 1fr minmax(230px, 1fr);
    grid-template-areas: 
        "main graphic";
    gap: 10px;
    border-bottom: 1px solid var(--border-color-primary);
    font-size: 1em;
}

.hero-main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 1.05rem;

    .highlight {
        color: var(--color-dark);
        background-color: var(--highlight-bg);
    }

    .badge {
        max-width: fit-content;
        display: flex;
        align-items: center;
        font-size: 0.85em;
        gap: 5px;
        background-color: rgb(255, 253, 241);
        padding: 5px 10px;
        border-radius: 25px;
        color: var(--color-dark);
    }
}

.hero-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
}

.hero-graphic {
    position: relative;
    grid-area: graphic;
    overflow-y: hidden;
    max-height: 400px;

    img {
        width: 100%;
        height: auto;
    }
}

.hero-graphic::before {
    content: "";
    position: absolute;
    top: 38%;
    left: 0;
    background-color: rgba(252, 154, 255, 0.24);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* БЛОКИ ПРЕИМУЩЕСТВ */
.advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5em;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 0 19.25%;
    background: rgba(245, 245, 245, 0.055);
    border: 1px solid var(--border-color-primary);
    border-radius: 20px;
    padding: 7px 15px; 

    .icon {
        width: 55px;
        height: 55px;
        padding: 5px;
        background-color: rgb(255, 242, 225);
        border-radius: 10px;
    }

    .card-title {
        font-weight: bold;
    }
}

.advantages.s2 {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;

    .content {
        margin-top: 12px;
    }

    .expand-field {
        background-color: transparent;
    }
}

.advantages.s2 .advantage:first-of-type {
    flex: 0 0 50%;
}

.advantages.s2 .advantage:last-of-type {
    flex: 1 1 380px;
    width: fit-content;
    padding: 10px 35px;
    background-color: rgba(255, 235, 121, 0.192);
    border-radius: 15px;
}

.circle-check li,
.check li {
    position: relative;
    color: var(--text-color-primary);
    list-style: none;
    margin: 7px 0;
    padding-left: 32px;
}

.circle-check li::before,
.check li::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: currentColor;
    mask-size: contain;
}

.circle-check li::before {
    background-image: url("../images/circle-check-big.svg");
    background-color: transparent;
}

.check li::before {
    background-image: url("../images/check.svg");
    background-color: transparent;
}

/* КАРТОЧКИ "ЧТО ВАС ЖДЕТ НА КУРСЕ?" */
.what-expected {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.65em;
}

.card-about {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px 8px;
    border: 2px solid var(--border-color-primary);
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.095);
    flex: 1 1 auto;
}

/* ПРОГРАММА КУРСА */
.course-programm {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-areas: 
        "accordions code-example";
    gap: 1.5em;
}

.accordions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: accordions;
}

.code-example {
    grid-area: code-example;
    border: 2px solid var(--border-color-primary);
    border-radius: 10px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    width: 625px;
    height: 265px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.356);
}

.code-example img {
    width: 100%;
    height: 100%;
}

/* ТАРИФЫ */
/* МОБИЛЬНАЯ ВЕРСИЯ СТРАНИЦЫ СОДЕРЖИТ TABS
ДЛЯ УДОБСТВА ПЕРЕКЛЮЧЕНИЯ КАРТОЧЕК ТАРИФОВ И КОМПАКТНОСТИ ОБЩЕГО МАКЕТА
*/
.tabpanels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

[role="tabpanel"] {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 15px;
    font-size: 1.12em;
    padding: 10px 30px;
    padding-bottom: 20px;

    .old-price {
        color: rgb(185, 185, 185);
        text-decoration: line-through;
    }

    .benefits li {
        list-style-image: url(./images/check.svg);
        list-style-position: inside;
        margin-block: 15px;
    }

    .cta {
        width: 100%;
    }
}

.premium {
    position: relative;
    border: 2px solid var(--color-accent-primary);
}

.premium::after {
    content: "Популярный";
    position: absolute;
    width: fit-content;
    top: 15px;
    right: 15px;
    text-align: center;
    padding: 5px 10px;
    background-color: var(--color-accent-primary);
    color: var(--color-dark);
    border-radius: 5px;
    font-size: 1em;
}

/* ТАБЛИЦА СРАВНЕНИЯ ТАРИФОВ */
/* НА МОБИЛЬНОЙ ВЕРСИИ СТРАНИЦЫ ТАБЛИЦА СКРОЛЛИТСЯ ГОРИЗОНТАЛЬНО
ДЛЯ СОХРАНЕНИЯ КОНТЕНТА И КОМПАКТНОСТИ ОБЩЕГО МАКЕТА */

.table-container {
    overflow: auto;
}

.table-comparison {
    border: 1px solid var(--border-color-primary);
    border-radius: 15px;
    overflow: auto;
    min-width: 800px;
}

#comparison {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.12em;
    border: none;

    td, th {
        padding: 5px;
        padding-left: 10px;
        border: 1px solid var(--border-color-primary);
    }
}

#comparison th:last-of-type,
tbody td:last-of-type {
    position: relative;
    background-color: var(--premium-col-bg);
}

tbody > tr td:not(:first-of-type) {
    text-align: center;
}

#comparison th:nth-child(2),
#comparison th:last-of-type {
    width: 30%;
}

/* FAQ (ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ) */
.faq-container {
    column-count: 2;
    column-gap: 1.2em;
    max-height: fit-content;

    details {
        break-inside: avoid;
        margin-bottom: 15px;
        max-width: 100%;
    }
}

/* ФОРМА ОБРАТНОЙ СВЯЗИ */
.feedback-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    border-block: 1px solid var(--border-color-primary);
    column-gap: 10rem;
    padding-block: 12px;
    max-width: 100%;

    .decoration {
        background-image: url(./../images/contact-form-illustration_light.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        max-width: 500px;
        height: auto;
    }
}

.data-fieldset {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;

    label {
        display: block;
        margin-bottom: 6px;
        font-weight: 700;
        font-size: 1em;
    }

    input, select {
        border: 2px solid var(--border-color-primary);
        border-radius: 10px;
        padding: 5px;
        font-size: 0.95em;
        min-height: 2.8em;
        background-color: transparent;
        color: var(--text-color-primary);
    }

    select > option {
        color: var(--text-color-primary);
        background-color: var(--bg-color-primary);
    }

    input:focus-visible,
    select:focus-visible {
        outline: 2px solid var(--color-accent-primary);
        outline-offset: 2px;
    }

    select {
        cursor: pointer;
        max-width: 100%;
        overflow-x: hidden;
    }

    #exp {
        max-width: 200px;
    }
}

.data-input, label:has(#agreement) {
    position: relative;
}

[data-error-field] {
        position: absolute;
        top: -5px;
        right: -50%;
        width: 110%;
        text-align: start;
        line-height: 1;
        padding: 0.3em;
        display: none;
        opacity: 0;
        transform: translateY(-50%);
        font-size: 80%;
        color: #b30000;
        box-sizing: border-box;
        transition: all 0.3s ease allow-discrete;
}

[data-error-field].error--agreement {
    width: 100%;
    top: 100%;
    left: 0;
    text-align: start;
}

[data-error-field].active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

    @starting-style {
        [data-error-field].active {
          opacity: 0;
          transform: translateY(-50%);
        }
    }

.form__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-top: 15px;
    font-size: 1.05em;

    button {
        min-height: 52px;
        font-size: 1.2em;
        padding: 8px 28px;
    }

    [type="checkbox"] {
        cursor: pointer;
        position: relative;
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid var(--border-color-primary);
    }

    [type="checkbox"]:checked {
        border-color: var(--color-accent-primary);
    }

    [type="checkbox"]:checked::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: var(--color-accent-primary);
    }

    #success {
        display: none;
        opacity: 0;
        transform: translateY(-50%);
        width: 100%;
        max-width: 200px;
        background-color: aquamarine;
        color: rgb(30, 30, 30);
        text-align: center;
        padding: 3px;
        margin: 5px auto;
        box-sizing: border-box;
        border-radius: 8px;
        transition: all 0.3s ease allow-discrete;
    }

    #success.active {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    @starting-style {
        #success.active {
          opacity: 0;
          transform: translateY(-50%);
        }
    }
}

/* FOOTER (ПОДВАЛ) СТРАНИЦЫ */
footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    gap: 20px;

    .subtitle {
        font-size: 0.95em;
    }
}

footer .logo {
    width: 20%;
    font-weight: 800;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: var(--text-color-primary);
}

.col.desktop-only {
    grid-column: 4 / 6;
}

footer form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
    input {
        position: relative;
        border: 2px solid var(--border-color-primary);
        border-radius: 10px;
        padding: 5px;
        font-size: 0.95em;
        background-color: transparent;
    }

    input + .error {
        top: 100%;
        left: 0;
    }

    input:focus-visible {
        outline: 2px solid var(--color-accent-primary);
        outline-offset: 2px;
    }

    button {
        padding: 3px 18px;
    }
}

.footer-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col ul {
    list-style-type: none;

    li {
        margin-bottom: 5px;
    }
}

.col a:hover,
.col a:focus-visible {
    color: rgb(191, 162, 0);
}




/* MEDIA QUERIES (АДАПТИВНОСТЬ) */
@media screen and (max-width: 768px) {
    /* ОТОБРАЖАЕМ ВСЕ ЭЛЕМЕНТЫ, КОТОРЫЕ ДОЛЖНЫ БЫТЬ В МАКЕТЕ МОБИЛЬНОЙ ВЕРСИИ СТРАНИЦЫ */
    .mobile-only {
        display: block;
    }

    header {
        grid-template-areas: 
            "title burger";
    }

    /* А НА ДЕСКТОПЕ - НАОБОРОТ УБИРАЕМ */
    .desktop-only {
        display: none;
    }

    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "app";
        font-size: 0.9rem;
    }

    .app {
        padding: 10px 15px;
    }

    #nav-bar {
        position: absolute;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        display: none;
        transition: all 0.3s ease;
        transition-behavior: allow-discrete;
    }

    #nav-bar[data-open] {
        z-index: 100;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .burger {
        border: none;
        border-radius: 15px;
        background-color: transparent;
        justify-self: end;
    }

    #mobile-navigation {
        /* СБРОС СТИЛЕЙ ДЛЯ МОДАЛКИ ( МОБИЛЬНОЙ НАВИГАЦИИ) */
        width: 100%;
        height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
        border: none;
        position: fixed;
        inset: 0;

        display: none;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        background-color: var(--bg-color-primary);
        color: currentColor;
        transform: translateY(100vh);
        transition: transform 0.3s ease,
                    display 0.3s ease allow-discrete,
                    overlay 0.3s ease allow-discrete;
    }

    #mobile-navigation[open] {
        display: flex;
        transform: translateY(0);

        @starting-style {
            transform: translateY(100vh);
        }
    }

    #mobile-navigation > nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 11px;
    }

    #mobile-navigation > nav a {
        padding: 15px;
    }

    #closeModalBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 35px;
        width: 48px;
        height: 52px;
        font-size: 2.25rem;
        border-radius: 50%;
        background-color: transparent;
    }

    .nav-extra {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        margin-top: 20px;
        color: var(--text-color-primary);
    }

    main {
        padding-inline: 15px;
    }

    .hero {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 230px;
        grid-template-areas: 
            "main"
            "graphic";
    }

    .hero-buttons button {
        flex-basis: 100%;
    }

    .hero-graphic {
        max-height: fit-content;

        img {
            width: 100%;
        }
    }

    .hero-graphic::before {
        display: none;
    }

    .advantages.card {
        flex: 1 1 auto;
    }



    .advantages.s2 {
        justify-content: start;
        

        .advantage:last-of-type {
            padding: 0;
            flex: 0 0 100%;
            background-color: transparent;
        }

        .advantage:first-of-type {
            flex: 0 0 100%;
        }
    }

    .advantage .expand-field {
        --expandSymbol: "+";

        display: flex;
        align-items: center;
        text-align: left;
        background-color: rgba(255, 255, 255, 0.055);
        padding-bottom: 20px;
        border-bottom: 1px solid var(--text-color-primary);
        width: 100%;
        color: currentColor;
        position: relative;

        .title {
            font-size: 1.1em;
            flex: 1;
            color: currentColor;
        }
    }

    .advantage .expand-field[aria-expanded="false"] + .content {
        display: grid;
        opacity: 0;
        grid-template-rows: 0;
        transition: all 0.3s ease;
    }

    .advantage .expand-field[aria-expanded="true"] + .content {
        opacity: 1;
        grid-template-rows: 1fr;
    }

    .expand-field::after {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        content: var(--expandSymbol);
        width: 40px;
        height: 40px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid currentColor;
        color: currentColor;
        font-size: 1.1em;
    }



    .expand-field[aria-expanded="true"] {
        --expandSymbol: "-";
    }

    .course-programm {
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    .tabpanels {
        grid-template-columns: 1fr;
    }

    [role="tablist"] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        padding-inline: 10px;

        [role="tab"] {
            position: relative;
            padding: 20px;
            border: 1px solid rgb(240, 240, 240);
            border-bottom: none;
            text-align: center;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            font-size: clamp(0.96rem, 2.75vw, 1.2rem);
            background: transparent;
            color: currentColor;
        }

        [role="tab"].prem1um[aria-selected="true"]::after {
            content: "Популярный";
            position: absolute;
            width: fit-content;
            top: 0;
            right: 0;
            text-align: center;
            padding: 2px 4px;
            background-color: var(--color-accent-primary);
            color: var(--color-dark);
            border-radius: 5px;
            font-size: 0.87em;
        }

        [role="tab"][aria-selected="true"] {
            border: 2px solid var(--text-color-primary);
            border-bottom: none;
        }

        [role="tab"][aria-selected="true"].prem1um {
            border: 2px solid var(--color-accent-primary);
            border-bottom: none;
        }
    }

    [role="tabpanel"]:last-of-type {
        display: none;
    }

    .premium::after {
        display: none;
    }

    .feedback-form {
        gap: 15px;
        font-size: 1.05em;

        .form__footer * {
            flex: 0 0 100%;
        }
    }

    .faq-container {
        column-count: 1;
    }

    footer {
        text-align: center;
        font-size: 1.1em;
    }

    .footer-main {
        grid-column: 1 / -1;
    }

    footer .logo {
        align-self: center;
    }
}

@media screen and (max-width: 1280px) {
    .desktop-only {
        display: none;
    }

    body {
        grid-template-columns: 1fr;
        grid-template-areas: "app";
    }

    .app {
        padding: 8px 12px;
    }
}